.bg-main{
    background-color: #ffdcc8;
}

.bg-orange{
    background-color: #fe9344;
}

.bg-orange-message{
    background-color: #fd9443;
}

.bg-gray-message{
    background-color: #e7e7e7;
}

.bg-gray{
    background-color: #efefef;
}