.bg-main {
    background-image: url('https://images.pexels.com/photos/5668598/pexels-photo-5668598.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-purple {
    color: #562aff;
}

.bg-purple {
    background-color: #562aff;
}

.bg-purple-light {
    background-color: #8668ff;
}

.tab-btn {
    padding: 10px 14px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.tab-active {
    background-color: #562aff;
    color: #fff;
}