@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: 'Mulish';
}

.bg-main{
    background-color: #ececec;
}

.bg-gray{
    background-color: #eceef0;
}

.bg-pink{
    background-color: #fe1d7b;
}

.color-pink{
    color: #fe1d7b;
}

.color-mars{
    color: #320c19;
}

.color-venus{
    color: #1d2031;
}

.personal-shadow{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(221, 221, 221, 0.64);
    -moz-box-shadow: 0px 0px 10px 1px rgba(221, 221, 221, 0.64);
    box-shadow:  0px 0px 10px 1px rgba(221, 221, 221, 0.64);
}