.bg-main {
    background-color: #e8e8e8;
}

.bg-green {
    background-color: #68c53d;
}

.border-green {
    border-color: #68c53d;
    border-width: 2px;
}

.bg-gray{
    background-color: #e8e8e8;
}