.bg-main{
    background-color: #e7edff;
}

.bg-blue{
    background-color: #4706fc;
}

.bg-green{
    background-color: #e6fdd6;
}

.bg-light-purple{
    background-color: #f5f6fb;
}

.bg-dark-purple{
    background-color: #4508fc;
}