.bg-main{
    background-color: #E7B389;
}

/*
https://www.pexels.com/photo/empty-bar-filled-with-lights-260922/
https://www.pexels.com/photo/swimming-pool-with-buildings-261388/
https://www.pexels.com/photo/view-of-tourist-resort-338504/
https://www.pexels.com/photo/gray-padded-chair-2290753/
*/