@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: 'Ubuntu';
}

.bg-blue{
    background-color: #cfe6f6;
}

.bg-purple{
    background-color: #ded3f7;
}

.bg-green{
    background-color: #edf6d3;
}

.bg-orange{
    background-color: #f6dad3;
}

.bg-main{
    background-color: #ebf2ff;
}