@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
}

.bg-main {
    background-color: #E6E9F9;
}

.border-neon-green {
    border-color: #2CE335;
}

.bg-neon-green {
    background: #2CE335;
}

.text-purple {
    color: #0d0dc2;
}

.bg-dark {
    background-color: #111825;
}

.bg-dark-contrast {
    background-color: #2e3543;
}

.bg-purple-light {
    background-color: #8985fd;
}

.text-purple-light {
    color: #8985fd;
}