.bg-main {
    background-color: #d1d3e0;
}

.bg-blue {
    background-color: #0128ff;
}

.bg-green {
    background-color: #2fb400;
}

.bg-orange {
    background-color: #e17a00;
}

.bg-red {
    background-color: #ee0102;
}

.bg-dark {
    background-color: #06042c;
}

.bg-arrow {
    background-color: #302d4f;
}