.bg-main {
    background-color: #c0c4e2;
}

.bg-blue {
    background-color: #2134c9;
}

.text-blue {
    color: #2134c9;
}

.bg-light-blue {
    background-color: #d8defb;
}

.bg-light-green {
    background-color: #a0d9ac;
}